<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.resumebuilder">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EasyRESUME"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ResumeActivity"
            android:exported="true"
            android:label="EasyRESUME" />
        <activity android:name=".ContactResume" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".ActivitySummary" />
        <activity android:name=".SkillsActivity" />
        <activity
            android:name=".EducationActivity"
            android:exported="true" />
        <activity
            android:name=".ActivityWork"
            android:exported="true"
            android:parentActivityName=".ResumeActivity" />
        <activity
            android:name=".SecondActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:label="EasyRESUME"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
    </application>

</manifest>